<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - UserManagement02</title>
<<<<<<< HEAD
=======

>>>>>>> 1bfd4158136d1dfb77522d47ab4e5fe1576ea587
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">UserManagement02</a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
<<<<<<< HEAD

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Users" asp-action="Index">Users</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Supervisors" asp-action="Index">
                            المشرفون
                        </a>
                    </li>

=======
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
>>>>>>> 1bfd4158136d1dfb77522d47ab4e5fe1576ea587
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="hrDropdown"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            الموارد البشرية
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="hrDropdown">
                            <li>
                                <a class="dropdown-item"
                                   asp-controller="HumanResources"
                                   asp-action="Dashboard">
                                    لوحة التحكم
                                </a>
                            </li>
                            <li><hr class="dropdown-divider" /></li>
                            <li>
                                <a class="dropdown-item"
<<<<<<< HEAD
                                   asp-controller="Trainees"
=======
                                   asp-controller="Trainee"
>>>>>>> 1bfd4158136d1dfb77522d47ab4e5fe1576ea587
                                   asp-action="Create">
                                    إضافة متدرب
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
<<<<<<< HEAD
                                   asp-controller="Trainees"
                                   asp-action="Index">
                                    كلّ المتدربين
=======
                                   asp-controller="HumanResources"
                                   asp-action="Transfer">
                                    تعيين متدرب لادارة
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   asp-controller="Trainee"
                                   asp-action="Index">
                                    كل المتدربين
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   asp-controller="HumanResources"
                                   asp-action="AssignSupervisorToDepartment">
                                    تعيين مشرف لادارة
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   asp-controller="Supervisor"
                                   asp-action="Index">
                                    المشرفون
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   asp-controller="Users"
                                   asp-action="Index">
                                    كل المستخدمين
>>>>>>> 1bfd4158136d1dfb77522d47ab4e5fe1576ea587
                                </a>
                            </li>
                        </ul>
                    </li>
<<<<<<< HEAD

=======
>>>>>>> 1bfd4158136d1dfb77522d47ab4e5fe1576ea587
                </ul>

                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <main class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top text-muted p-3">
    &copy; 1447 - UserManagement02
</footer>

<<<<<<< HEAD
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
=======
>>>>>>> 1bfd4158136d1dfb77522d47ab4e5fe1576ea587
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
