@model UserManagement02.ViewModels.SupervisorViewModel

@{
    ViewData["Title"] = "إضافة مشرف جديد";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

      <div asp-validation-summary="All" class="text-danger mb-3"></div>
      <div class="text-warning">
             @foreach (var kv in ViewData.ModelState)
             {
                  foreach(var err in kv.Value.Errors)
                   {
                    <div>@kv.Key: @err.ErrorMessage</div>
                   }
             }
            
       </div>

    <div class="mb-3">
        <label asp-for="SupervisorFullName" class="form-label">الاسم</label>
        <input asp-for="SupervisorFullName" class="form-control" />
        <span asp-validation-for="SupervisorFullName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label">البريد الإلكتروني</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label">الهاتف</label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="SelectedDepartmentId" class="form-label"></label>
        <select asp-for="SelectedDepartmentId"
                asp-items="Model.Departments"
                class="form-control">
        </select>
        <span asp-validation-for="SelectedDepartmentId" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-success">حفظ</button>
    <a asp-action="Index" class="btn btn-secondary">إلغاء</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}