@model UserManagement02.ViewModels.TraineeViewModel
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    // ViewBag.Departments and ViewBag.Supervisors should be IEnumerable<Department>/Supervisor
    var deptSelect = new SelectList((IEnumerable<Department>)ViewBag.Departments, "Id", "Name");
    var supSelect  = new SelectList((IEnumerable<Supervisor>)ViewBag.Supervisors, "Id", "FullName");
}

<div class="form-group">
    <label asp-for="SelectedDepartmentId"></label>
    <select asp-for="SelectedDepartmentId"
            asp-items="deptSelect"
            class="form-control">
        <option value="">-- Select Department --</option>
    </select>
</div>

<div class="form-group">
    <label asp-for="SelectedSupervisorId"></label>
    <select asp-for="SelectedSupervisorId"
            asp-items="supSelect"
            class="form-control">
        <option value="">-- Select Supervisor --</option>
    </select>
</div>